body {
    background-color: #33bbff;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

* {
  padding: 0;
  /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
  
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.content-box {
  width: 100%;
  height: 400px;
  max-width:80%;
  margin: 60px 60px 60px 60px;
  position: relative;
  /* So we can position the banner within the box */
  
  background: gray;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  
  border-radius: 25px;
  padding: 35px;
  padding-top: 15px;
  
}

#ribbon-container {
  width: 106.75%;
  position: absolute;
  top: 75px;
  right: -20px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */
  
  font-size: 18px;
  /* font-size and line-height must be equal so we can account for the height of the banner */
  
  line-height: 18px;
}

#ribbon-container:before {
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 33px;
  right: 3px;
}

#ribbon-container:after {
  /* This adds the second part of our dropshadow */
  
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 33px;
  right: 3px;
}

#ribbon-container p1 {
  display: block;
  padding: 20px;
  position: relative;
  /* allows us to position our pseudo-elements properly */
  
  background: #0089d0;
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

#ribbon-container p1:after {
  /* this creates the "folded" part of our ribbon */
  
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid #004a70;
  border-right: 15px solid transparent;
}

#ribbon-container p1:before {
  /* this creates the "forked" part of our ribbon */
  
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-top: 15px solid #004a70;
  border-left: 15px solid transparent;
}

#ribbon-container p1:hover {
  background: #009ff1;
}

#ribbon-container p1:hover:before {
  /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  
  border-top: 15px solid #004a70;
  border-left: 15px solid transparent;
}