body {
    background-color: #33bbff;
}


.nav-link{
	color: #000000;
    text-decoration: none;
}

h1 {
    background-color: #ffffff;
    padding-top : 2.5%;
    padding-left : 2.5%;
    padding-right : 2.5%;
    padding-bottom : 82px;
	margin-top: 2.5%;
	margin-left: 5%;
	margin-right: 5%;
	height: 10%;
	width: 85%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	font-family: "Verdana";
	font-size: 42px;
	box-shadow: 10px 10px 5px #888888;
}

h2{
	background-image: url("Left.png"), url("Center.png"), url("Right.png");
	background-position: left, center, right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 5% 62px, 90% 62px, 5% 62px;
	margin-top: -92px;
	height: 62px;
	width: 100%;
	text-align: center;
}

p1{
	line-height: 200%;
	margin-top: 50%;
	font-family: "Verdana";
}

p2{
	display : block;
	background-color: #ffffff;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	width: 85%;
	margin-top: -2%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 2.5%;
	font-family: "Verdana";
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 5%;
}