body {
	background-color: #999999;
}

div4 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url("background.JPG");
	display: block;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.content-box {
  width: 100%;
  min-height: 85%;
  max-width:90%;
  margin: 60px 5% 60px 5%;
  position: relative;
  
  background: white;
  border: 5px solid gray;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  
  border-radius: 25px;
  padding: 35px;
  padding-top: 25px;
  
  background-image: url("filler.jpg");
  background-size: 100% 100%;
  
  
}

#ribbon-container {
  width: 100%;
  position: absolute;
  top: 75px;
  right: -20px;
  overflow: visible;
  font-size: 18px;
  line-height: 18px;
}

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  border-top: 29px solid rgba(0, 0, 0, .3);
  border-bottom: 29px solid rgba(0, 0, 0, .3);
  border-right: 29px solid rgba(0, 0, 0, .3);
  border-left: 29px solid transparent;
}

#ribbon-container:after {
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
}

#ribbon-container p1 {
  display: block;
  padding: 20px;
  position: relative;
  background: #0c5e13;
  /*background: #0098D0;*/
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

#ribbon-container p1:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid #042807;
  /*border-top: 15px solid #004a70;*/
  border-right: 15px solid transparent;
}

#ribbon-container p1:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  border-top: 29px solid #0c5e13;
  /*border-top: #0098D0;*/
  border-bottom: 29px solid #0c5e13;
  /*border-bottom: #0098D0;*/
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}

.nav-link{
	color: #ffffff;
    text-decoration: none;
}

.nav-link-active{
	color: #ffffff;
	padding: 2px;
    text-decoration: none;
    border: 1px solid white;
	border-radius: 5px;
}

.head-link{
	color: #000000;
    text-decoration: none;
}

h3{
	background-color: #999999;
	min-height: 10%;
	margin: 0px;
	padding: 10px;
	padding-top: 20px;
	border: 0px;
	box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,1);
  	-webkit-box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,1);
	
}